// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../components/level-indicator/level-indicator";
@import "../pages/about/about";
@import "../pages/contact/contact";
@import "../pages/home/home";
@import "../pages/instructions/instructions";
@import "../pages/submissions/submissions";
@import "../pages/levels/levels";
@import "../pages/challenge/challenge.scss";

hr {
  height: 1px;
  background-color: $dull;
  color: $dull;
}

.button-outline-primary, .button-outline-secondary {
  color: $white;
}


h1.neon-header {
  font-family: $neon-lights-font;
  font-size: 40px;
  font-weight: bold;
}

body {
  max-width: 500px;
  background-color: $dull;
}

ion-navbar {
  button.back-button {
    color: $dull;
  }

  .toolbar-title {
    color: $dull
  }
}
