level-indicator {
  .level-indicator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-badge {
    border-radius: 20px;
    min-height: 27px;
    padding-top: 5px;
  }

  .level {
    border: color($colors, primary) 2px solid;
    background-color: transparent;
    margin: 2px;
    &.selected {
      background-color: transparent;
      border: color($colors, secondary) 2px solid;
    }
  }
}
