.levels {
  .main-content {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: $screen-height - 227px;
  }

  h1 {
    font-size: 80px;
  }

  footer {
    margin-top: 20px;
  }
}
