.instructions {
  li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
  }

  .main-content {
    min-height: 380px;
    padding-top: 25px;
    padding-bottom: 10px;
  }

  footer {
    padding-top: 20px;
  }
}
