.instructions {
  ul {
    margin: 0px;
  }
  li {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 21px;
  }

  section {
    min-height: $screen-height - 270px;
  }

  footer {
    padding-top: 15px;
  }
}
