.home {
  h1 {
    font-size: 75px;
    font-family: $neon-lights-font;
    font-weight: bold;
  }

  button {
    min-width: 300px;
  }

  footer {
    .llc {
      margin-top: 40px;
      font-family: monospace;
      font-size: 15px
    }
  }
}
