<!--
  Generated template for the ChallengePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>challenge</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="challenge" padding>

  <level-indicator [currentLevel]="challenge.level"></level-indicator>

  <hr/>

  <div *ngIf="response==undefined">

    <div class="main-content">
      <h1 text-center [innerHTML]="challenge.content"></h1>
    </div>
    <hr/>
    <footer text-center>
      <button outline secondary (click)="onClickFail()">Failed it</button>
      <button outline primary (click)="onClickNail()">Nailed it!</button>
    </footer>
  </div>
  <div *ngIf="response=='nailed'">

    <div text-center class="main-content">

      <h1 *ngIf="responseCopy" [innerHTML]="responseCopy"></h1>
      <h1 *ngIf="responseCopy == undefined">Good work!</h1>

    </div>
    <hr/>
    <footer text-center>
      <button outline primary (click)="onClickLevelUp()">Level Up</button>
    </footer>
  </div>

  <div *ngIf="response=='failed'">
    <div text-center class="main-content failed">

      <h1 *ngIf="responseCopy" [innerHTML]="responseCopy"></h1>
      <h1 *ngIf="responseCopy == undefined">:(<br/>Looks like someone isn't bringing their A-game</h1>
      <h1></h1>
    </div>

    <hr/>

    <footer text-center class="failed">
      <button outline secondary (click)="onClickConfirmFail()">ConfirmFail</button>
      <div>- OR -</div>
      <button outline primary (click)="onClickCancelFail()">Never give up!</button>
    </footer>
  </div>
</ion-content>
