.challenge {
  .main-content {
    padding-top: 100px;
    min-height: 400px;
    padding-left:20px;
    padding-right:20px;
    h1 {
      font-size: 30px;
    }

    &.failed {
      min-height: 300px;

    }
  }

  footer {
    margin: 20px;

    &.failed {
      button {
        margin: 10px;
      }
    }
  }
}
