.challenge {
  .main-content {
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: $screen-height - 227px;
    padding-left:20px;
    padding-right:20px;
    h1 {
      font-size: 30px;
    }

    &.failed {
      min-height: $screen-height - 312px;
    }
  }

  footer {
    margin: 20px;

    &.failed {
      button {
        min-width: 200px;
      }
    }
  }
}
